<table class="profile" summary="Profile information">
  <tr>
  <td class="feed" colspan="2">
  <p>Theme name  </p>     
         <h1>    <%= @theme.content %> </h1>
         


        <% unless @posts.empty? %>

        <table class="themes" summary="User posts">

        <%= render @posts %>

        </table>
        <%= will_paginate @posts %>
      <% end %>
   </td>
    
     <td class="sidebar round">
        <%= render 'shared/user_info' %>
     </td>
  </tr>
 <tr>
    
   <td class="main">
         
        <h2 class="theme">Want create new post?</h2>
        <%= render 'shared/post_form' %>
    </td>
 </tr>
 

  
   
</table>
